@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bonheur: var(--font-bonheur);
  
  /* --color-primary: var(--primary); */
  --color-primary-500: var(--primary-500);
  --color-secondary: var(--secondary);
  --color-secondary-500: var(--secondary-500);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --primary-500: #FF0082;
    --secondary: #262880;
    --secondary-500: #4651C9;
    --neutral-100: #E0E0E4;
    --neutral-200: #C1C1CA;
    --neutral-300: #A3A3AF;
    --neutral-500: #65657A;
    --neutral-600: #515162;
    --neutral-700: #3D3D49;
    --neutral-800: #282831;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
